<a href="https://colab.research.google.com/github/Cyrus-spc-tech/Python-Google-Collab/blob/main/dictionary_manuplating_using_pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd

dict1= {'A':[85,73,98], 'B':[60,80,58], 'C':[90,60,74], 'D': [95,87,92] }

df1=pd.DataFrame(dict1,index=['0','1','2'])
print("This is df1:")
print(df1)
print('\n')

dict2= {'A':[85,73,98], 'B':[60,80,58], 'C':[90,60,74], 'D': [95,87,92] }

df2=pd.DataFrame(dict2,index=['0','1','2'])
print("This is df2:")
print(df2)
print('\n')

df3=df1+df2
print("Using '+', This is df1+df2 :")
print("This is df3:")
print(df3)
print('\n')

df4=df2.add(df3)
print("Using 'add()', This is df2+df3 :")
print("This is df4:")
print(df4)
print('\n')

df5=df3.radd(df4)
print("Using 'radd()', This is df4+df3:")
print(df5)

df6=df1.rsub(df3)
print("using rsub : ")
print(df6)
df7=df2.mul(df3)
print("Using 'mul()', This is df2*df3 :")
print(df7)
print("------------")
df8 = df3.mod(df4)
print("using 'mod()',this is df3%df4 : ")
print(df8)

This is df1:
    A   B   C   D
0  85  60  90  95
1  73  80  60  87
2  98  58  74  92


This is df2:
    A   B   C   D
0  85  60  90  95
1  73  80  60  87
2  98  58  74  92


Using '+', This is df1+df2 :
This is df3:
     A    B    C    D
0  170  120  180  190
1  146  160  120  174
2  196  116  148  184


Using 'add()', This is df2+df3 :
This is df4:
     A    B    C    D
0  255  180  270  285
1  219  240  180  261
2  294  174  222  276


Using 'radd()', This is df4+df3:
     A    B    C    D
0  425  300  450  475
1  365  400  300  435
2  490  290  370  460
using rsub :
    A   B   C   D
0  85  60  90  95
1  73  80  60  87
2  98  58  74  92
Using 'mul()', This is df2*df3 :
       A      B      C      D
0  14450   7200  16200  18050
1  10658  12800   7200  15138
2  19208   6728  10952  16928
------------
using 'mod()',this is df3%df4 :
     A    B    C    D
0  170  120  180  190
1  146  160  120  174
2  196  116  148  184

In [ ]:
import pandas as pd

dict= {'A':[85,73,98], 'B':[60,80,58], 'C':[90,60,74], 'D': [95,87,92] }

df=pd.DataFrame(dict,index=['0','1','2'])
print(df)
print("\n")
print(df.describe())

    A   B   C   D
0  85  60  90  95
1  73  80  60  87
2  98  58  74  92


               A          B          C          D
count   3.000000   3.000000   3.000000   3.000000
mean   85.333333  66.000000  74.666667  91.333333
std    12.503333  12.165525  15.011107   4.041452
min    73.000000  58.000000  60.000000  87.000000
25%    79.000000  59.000000  67.000000  89.500000
50%    85.000000  60.000000  74.000000  92.000000
75%    91.500000  70.000000  82.000000  93.500000
max    98.000000  80.000000  90.000000  95.000000

In [ ]:
import pandas as pd

dict= {'A':[85,73,98], 'B':[60,80,58], 'C':[90,60,74], 'D': [95,87,92] }

df=pd.DataFrame(dict,index=['0','1','2'])
print(df)
print("\n")
print(df.info())

    A   B   C   D
0  85  60  90  95
1  73  80  60  87
2  98  58  74  92


<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
 3   D       3 non-null      int64
dtypes: int64(4)
memory usage: 120.0+ bytes
None